<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Shelf.com: Your Shopping Elf</title>
		<meta name="description" content="" />
		<meta name="author" content="Atul Singh" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="stylesheet" type="text/css" href="/mymedia/css/site_base.css" />
	</head>
    <body>
		<header>
			<div class="header"><h1 class="header">Shelf.com</h1></div>			
		</header>
		<nav>
			<ul>
				<li><a href="/viewyourshelf/detail/?u={{uid}}&s=Express">View Shelfs</a></li>
				<li><a href="/view_promo/">View Promotions</a></li>
				<li><a href="/statsplot/">Did you know?</a></li>
				<li><a href="/home/">Home</a></li>
			</ul>
		</nav>
				
    		<div class="pos_fixed_left">
		    {% if curresp %} 
		    	<h1> {{ curresp }} </h1> 
		    {% endif %}
		    {% if num_selected %} 
		    	<h2> Your {{ num_selected }} selection{{ object_list|pluralize }}</h2>
				<table border="1">
		  			{% for wi in object_list %}
						{% if forloop.first %}<tr>{% endif %}
						{% if forloop.counter0|divisibleby:5 %}</tr><tr>{% endif %}
						<td><img src={{wi.item.img_url}} width="100" height="auto"><br>{{ wi.item.brand}}  <br>{{ wi.item.name}} <br> ${{ wi.item.price}} 
						<!-- { % if not selected_items %}<a href="add_item_{{wi.item.idx}}_{{page_list.number}}">Add to wishlist.</a>{ % endif %} -->
						</td>        		
						{% if forloop.last %}</tr>{% endif %}
		    		{% endfor %}	
				</table>
				<br>
		    {% else %}
		    	<h2> Please add items to your wishlist</h2>
		    {% endif %}
			<!-- { % if num_selected %} <h3>Apply promotions to save money? Click <a href="apply_discount/?u={{ uid }}">here</a></h3> 
			{ % endif %} -->
			<!-- { % else %}
				{% include "paginator2.html"%}
			 -->
			 </div>
		<div class="footer">Copyright 2012 by Shelf.com</div>

    </body>
</html>
