<html>
    <title>Items satisfying your requirements</title>
    <body>
    <h2>Items satisfying your query. Please select your preferred items.</h2>
	{% include "paginator2.html"%}
    Click <a href="show_selected_items">here</a> to see the items you selected.</b>
	<table border="1">
		{# [BRAND]   [CATEGORY]   [PRICE]   [SALE_PRICE] #}
    	{% for item in object_list %}
        	<tr class="{% cycle 'row1' 'row2' %}">
        		<td class="row1"> <img src={{item.img_url_md}}><br>{{ item.brand}}  <br>{{ item.name}} <br> ${{ item.price}} <a href="add_item_{{item.id}}">Add to wishlist.</a></td>        		
        		<td class="row2"> <img src={{item.img_url_md}}><br>{{ item.brand}}  <br>{{ item.name}} <br> ${{ item.price}} <a href="add_item_{{item.id}}">Add to wishlist.</a></td>        		
        	</tr>
    	{% endfor %}
	</table>
	{% include "paginator2.html"%}
    </body>
</html>