<html>
<head>Results</head>
<body>
   	{% load charts %}

   
	<table border="1", align="center">
	
	<tr align="center">

		<td align="center">After applying discounts, you saved $30. Click here to save $20 more. </td>
		
		<td align="center">
			
			<img title="Bar" src="{{bar}}">
		</td>
	</tr>
	<tr align="center">
		<td align="center">
			
			<img title="Scatter" src={{scatter}}> 
		</td>
		<td align="center">
   			
			<img title="Pie" src={{pie}}>
		</td>
	</tr>
	<tr>
		
		
	</tr>
	</table>


</body>
</html>