<h1>About Us</h1>
<p>
  DiscountSense is a project to simplify apparel shopping for 
  consumers. We do so by bringing information relevant to you 
  in terms of items, stores, and discounts matched to your interests.
  <!-- <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>-->  
</p>
